@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

/* DECLARATION VARS START */

:root {
  --first-color: ;
  --second-color: ;
  --first-color-text: rgb(21, 111, 119);
  --second-color-text: ;

  --first-background: rgba(232, 243, 246, 0.979);
  /*Branco */
  --first-background-black: rgba(55, 103, 119, 1);



  --sec-background: #e8f3f6;
  --bg-section-primary: rgba(202, 229, 229, 0.712);
  --bg-section-second: rgb(98, 161, 174);

  --font-bold: 700;
  --font-media-bold: 550;

  --mb-2: 2rem;
}

/* DECLARATION VARS END */

/* RESET START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  
  overflow-x: hidden;
}

/* RESET END*/

/* LAYOUT START */

body {
  background-image: url('../background.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}


.container {
  margin-left: 4.5rem;
  margin-right: 2.5rem;
}

section {


  width: 100vw;
}

section.bg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--bg-section-primary);
}

section.bg2 {
  padding-top: 3rem;
  background: var(--sec-background);
  padding-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-weight: 300;
}

section .header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

section .header p {
  margin-top: 1rem;
  width: 50%;
  text-align: center;
}

/* LAYOUT END */


/*  SECTION HEADER NAV START */

#menu {
  position: fixed;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#menu .dowload{
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--first-color-text);
  display: flex;
  align-items: center;
  justify-content: center;
 
  border-radius: 50%;
  cursor: pointer;
}
#menu .dowload i {
  color: var(--first-background);
  font-size: 2rem;
}
/* changes */
#menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background: var(--sec-background);
  opacity: 0.8;
}

#menu ul li {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

#menu ul li:hover {
  background-color: var(--first-color-text);

}

#menu ul li a {
  font-size: 1.75rem;
  padding: 1rem;
  color: var(--first-color-text);

}

#menu ul li a:hover {
  color: var(--first-background);
}

#menu ul li.ative {
  background-color: var(--first-color-text);
  border-bottom: 1px solid var(--first-background-black);
}

#menu ul li.ative a {
  color: var(--first-background);
}

/*  SECTION HEADER NAV END */

/* SECTION HOME START */

#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home::before {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-background-black);
  opacity: 0.5;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#home .settings {
  width: 32rem;
  height: 10rem;
  background-color: var(--sec-background);
  position: relative;
  display: flex;
  align-items: center;
}
#home .settings i {
  cursor: pointer;
}
#home .settings i:first-child {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.375rem;
  color: var(--first-color-text);
}


#home .settings .show h1 {

  color: var(--first-color-text);
  margin-left: 1rem;
  display: flex;
  align-items: center;
  transform: translateY(-2rem);
}

#home .settings .show h1 .tep {
  font-size: 3.5rem;
  text-align: left;
}

#home .settings .show h1 #typing {
  margin-left: 0.75rem;
}
#home .settings .show  {
  position: absolute;
  width: 100%;
  transition: 1s;
}
#home .settings .show .menu {
  color: var(--first-color-text);
  
  position: absolute;
  
  width: 100%;
  height: 100%;
  transform: translateY(-20px);
  background-color: var(--sec-background);
  transition: 1s;
}
#home .settings .show .menu h3 {
  text-align: center;
  margin-bottom: 1.8rem;
}

#home .settings .show .menu .group {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: var(--sec-background);
}
#home .settings .show .menu .group i {
  font-size: 1.5rem;
}
#home .settings .show .menu .group select {
  background: none;
  border: none;
  color: var(--first-color-text);
}
#home .down {
  position: absolute;
  bottom: 4rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#home .down i {
  color: var(--first-color-text);
  font-size: 2.5rem;
  animation: move 1.2s linear infinite;
}

@keyframes move {
  0% {

    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

/*SECTION HOME END */


/* SECTION SOCIAL */

section#redesSocias ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(6.875rem);
}
section#redesSocias ul li a {
  color: var(--sec-background) ;
  padding: 1rem;
}
section#redesSocias ul li {
  width: 6rem;
  height: 6rem;
  border: 1px solid rgb(202, 230, 220);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-section-second);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.424);
  color: var(--sec-background) ;
  cursor: pointer;
}

section#redesSocias ul li:hover   {
  background-color: var(--sec-background);
  border: 1px solid var(--bg-section-second);
  color: var(--bg-section-second) ;
}
section#redesSocias ul li a:hover  {
 
  color: var(--bg-section-second) ;
}
section#redesSocias ul li.single {

  width: 14rem;
  height: 14rem;
}

section#redesSocias ul li.single img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


section#redesSocias ul li i {
  font-size: 3rem;
}

/*SECTION SOCIAL */

/* SETION ABOUT ME */

section#about .info {
  display: flex;
  margin-top: 6rem;
}

section#about .info div.date {
  width: 700px;
}

section#about .info h3 {
  color: rgb(98, 161, 174);
}

section#about .info .date p {
  padding: 1rem;
  text-align: justify;
}

section#about .info .conct {
  width: 700px;
  margin: 0 auto;
}


section#about .info .conct ul {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

section#about .info .conct ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid var(--bg-section-second);
}

section#about .info .conct ul li div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about .info .conct ul li .left {
  width: 10%;
  background-color: rgb(221, 234, 237);
}

section#about .info .conct ul li .left i {
  color: var(--bg-section-second);
}

section#about .info .conct ul li .center {
  justify-content: flex-start;
  width: 80%;
  color: rgb(98, 161, 174);
  background-color: var(--sec-background);

}

section#about .info .conct ul li .center p {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}

section#about .info .conct ul i {
  font-size: 2.5rem;
}

section#about .info .conct ul .rith {
  background-color: var(--bg-section-second);
  width: 10%;
  color: var(--sec-background);
}

/* SETION ABOUT ME END */


/* SECTION SKILLS START */
section#skills .content {
  background-color: var(--first-background-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#skills .header {
  color: var(--first-background-black);
}

section#skills .content {
  color: var(--sec-background);
  width: 100%;
  margin-bottom: 1rem;
}

section#skills .content .header {
  width: 80%;

  border-bottom: 1px solid var(--sec-background);
  padding: 1rem;
}

section#skills .content .desc {
  width: 80%;
}

section#skills .content .desc h4 {
  padding: 0.475rem;
}

section#skills .content .desc ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}


section#skills .content .desc ul li {
  margin: 0.1rem;
}

section#skills .content .desc ul div.content {
  border: 1px solid var(--sec-background);
  width: 20rem;
  height: 1rem;
  align-items: flex-start;
}

section#skills .content .desc ul div.content div.nivel {

  border: 1px solid rgb(104, 0, 114);
  height: 99%;
  background-color: var(--sec-background);
}

/* SECTION SKILLS END */

/* SECTION PROJECT START  */
section#project {
  color: var(--first-background-black);
}
section#project .content {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

section#project .content .card {
  flex: 0 0 auto;
  width: 33.333%;
  margin-left: 1rem;
  position: relative;
  z-index: 1;
}

section#project .content .card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'la';
  background-color: var(--first-background-black);
  opacity: 0.2;
  color: var(--first-background-black);
  z-index: 10;
}

section#project .content .card:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--first-background-black);
  opacity: 0;
  color: #fff;
  z-index: 10;
}

/* SECTION PROJECT END  */

/* SECTION EXPERERIENCE STRAT */

#experence {
  color: var(--first-background-black);
}

#experence a {
  color: var(--first-background-black);
  font-weight: 500;
}

#experence .content {
  width: 100%;
  margin: 0 auto;

  margin: 1rem;
  justify-content: center;

}

#experence .content ul li {
  display: flex;

  align-items: center;
  margin: 1rem;
}

#experence .content ul li div {

  width: 16rem;

  display: flex;
  align-items: flex-start;
}

#experence .content ul li p {
  width: 40rem;
}

#experence .content ul li div strong {
  margin-bottom: 0.675rem;
}

/* SECTION EXPERERIENCE END */

/* SECTION CONTACT START  */
section#contact {
  color: var(--first-background-black);
  font-weight: 200;
}
section#contact form {
  
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sec-background);
  padding: 2rem;
}

section#contact form .form {
 
  width: 70%;
}

section#contact form .group {
  display: flex;
  flex-direction: column;
  
}
section#contact form .group:last-child {
  align-items: center;
}




section#contact form .group input {
  padding: 1rem;
  height: 2rem;
  font-size: 1rem;
  border-width: 1px;
  background-color: var(--sec-background);
  border-color: var(--first-color-text);
  color: var(--first-color-text);
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 2rem;
}

section#contact form .group input::placeholder, section#contact form .group textarea::placeholder {
  color: var(--first-color-text);
  font-size: 1rem;
}
section#contact form .group input:focus, section#contact form .group textarea:focus {
  outline: none;
  border-width: 2px;

}

section#contact form .group textarea {
  padding: 1rem;
  background-color: var(--sec-background);
  border-color: var(--first-color-text);
  font-size: 1rem;
  border-width: 1px;
  color: var(--first-color-text);
}

section#contact form button {
  margin-top: 1rem;
  width: 12rem;
  height: 2.5rem;
  font-size: 1rem;
  color: var(--sec-background);
  background-color: var(--first-color-text);
  border: none;
}

/* SECTION CONTACT  */


/* SECTION FOOTER START  */

section#footer {
  text-align: center;
  color: var(--first-background-black);
  padding-bottom: 4rem;
}

section#footer p {
  margin-bottom: 1rem;
}



/* SECTION FOOTER END  */

/* Medias Queries */


/* PC */
@media only screen and (max-width: 1200px) {}

/*Tablete */
@media only screen and (max-width: 1023px) {
  section#about .info .conct {
    width: 800px;
  }
}

/*Phones to small Table */
@media only screen and (max-width: 767px) {
  #experence .content ul li p {
    width: 80rem;
  }

  #experence .content ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  section#skills .content:last-child .desc ul {
    flex-direction: column;
  }

  .container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  section#about .info {
    flex-wrap: wrap;
  }

  section#about .info .date {
    margin: 0 auto;
  }

  section#about .info .conct {
    margin: 0 auto;
  }

  html {
    font-size: 60%;
    overflow-x: hidden;
  }

  #menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 4rem;
    bottom: 0;
  }

  #menu ul {
    display: flex;
    width: 100vw;
    flex-direction: row;
    height: 4rem;
    background: var(--first-background);
  }

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  section#contact form {
    width: 100%;
  }
  #experence .content ul li p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  section#redesSocias ul li i {
    font-size: 2rem;
  }

  section#redesSocias ul li {
    width: 4rem;
    height: 4rem;
  }

  section#redesSocias ul {
    transform: translateY(4.875rem);
  }

  section#redesSocias ul li.single {
    width: 10rem;
    height: 10rem;
  }
}