/*
Fontes 
*/
@font-face{
    font-family: 'SubTitulo';
    src: url('../roboto/Roboto-Thin.woff');
}
@font-face{
    font-family: 'Titulo';
    src: url('../roboto/Roboto-Light.woff');
}
/*

Fontes 

*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'SubTitulo';
}

body {
    background-image: url('../background.png');
    background-repeat: no-repeat;
    color: rgba(21, 111, 119, 0.534);
    margin-top: 0;
    padding: 1px;
}
#body{
   /* background-color: #ff00008a;*/
    height: 100%;
 
}
#header {
  
    display: flex;
    align-content: center;
}

#fa-ap {
    font-family: 'Titulo' ;
    background-color: aliceblue;
    align-content: center;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 257px;
    height: 100px;
    position: relative;
    border-radius: 5px;
}
#fa-ap p {
    position: absolute;
    top: 28px;
    left: 50px;
    font-size: 36px;
}
#fa-ap i {
    font-size: 25px; 
    position: absolute; 
    top: 3px; 
    right: 3px;
}
@keyframes animacao-caixa1 {
    from { background-image: url('../79509414_2781078612119003_7081528428238733312_n.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 210px;
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 186px;
    position: relative;
    top : 164px;
    }
    to {
    background-color: rgba(21, 111, 119, 0.452);
    border: 1px solid rgb(21, 111, 119);
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 236px;
    position: relative;
    }
   
}
.button-up {
    background-color: rgba(21, 111, 119, 0.452);
    border: 1px solid rgb(21, 111, 119);
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 236px;
    position: relative;
    z-index: 1;
    animation-name: animacao-caixa1;
    animation-duration: 0.5s;
}

.button-up i {
    font-size: 50px; 
    position: absolute; 
    top: 25px; 
    left: 25px;
    color: rgb(21, 111, 119);
    z-index: 0;
}
.button-upp {
    background-color: rgba(55, 103, 119, 1);
    border: 2px solid rgb(115, 163, 179);
    border-radius: 90px;
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 236px;
    position: relative;
    top: 174px;
    z-index: 1;
}

.button-upp i {
    font-size: 50px; 
    position: absolute; 
    top: 25px; 
    left: 25px;
    color: rgb(145, 193, 209);
    z-index: 0;
}
.button-down i {
    font-size: 50px; 
    position: absolute; 
    top: 25px; 
    left: 25px;
    color: rgba(21, 111, 119, 0);
    z-index: 1;
}
.cont-git {
    display: inline;
}

@keyframes animacao-caixa {
    from {
        background-color: rgba(21, 111, 119, 0.452);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 90px;
        height: 100px;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        position: relative;
    }
    to {
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 210px;
        height: 250px;
        width: 250px;
        top : 174px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 164px;
        position: relative;
    }
}
.button-down {
    background-image: url('../79509414_2781078612119003_7081528428238733312_n.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 210px;
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 186px;
    position: relative;
    top : 164px;
    animation-name: animacao-caixa;
    animation-duration: 0.5s;
}


/* Minhas informção */
#cont {
    background-color: rgb(191, 216, 229);
    padding: 200px 50px 10px 50px;
    display: flex;
}
#cont .left{
    width: 500px;
    color : rgb(115, 163, 179);
    margin-right: 10px;
}
#cont .left p{
    padding: 5px;
    font-size: 20px;
    color: black;
   font-style: oblique;
}
#cont .left p strong{
    font-weight: bold;
}
#cont .left h1 {
    padding: 5px;
    font-size: 30px;
}
/*Mais informação direito */
#cont .reigt{
    width: 500px;
    color : rgb(115, 163, 179);
    margin-right: 10px;
}
#cont .reigt .ft{
    display: flexbox;
    flex-direction: column;
}
#cont .reigt .ft {
    margin: 5px;
    display: flexbox;
    flex-direction: column;
}
#cont .reigt .ft .sft{
    height: 52px;
    display: flex;
    margin: 0px;
    border-bottom: 1px solid rgb(98, 161, 174);
}
#cont .reigt .ft .sft p{
    font-size: 20px;
    padding: 10px;
    
}
#cont .reigt .ft .sft div{
    width: 50px;
    position: relative;
    background-color: rgb(98, 161, 174);
}

#cont .reigt .ft .sft i {
    font-size: 30px;
    position: absolute;
    top : 10px;
    left: 10px;
    color: rgb(221, 234, 237);
}
#cont .reigt .ft .sft .eqr{
    width: 50px;
    position: relative;
    background-color: rgb(221, 234, 237);
}
#cont .reigt .ft .sft .eqr i {
    font-size: 30px;
    position: absolute;
    top : 10px;
    left: 10px;
    color: rgb(98, 161, 174);
}
#cont .reigt .ft .sft .nm {
    width: 388px;
    background: rgb(232, 243, 246);
}
/*
Habilidades 
*/
#skill {
    color : white;
    background-color: rgb(65, 121, 130);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2px;
}
#skill .center {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}
#skill .header h1{
    font-family: 'Titulo';
    margin: 2px;
}
#skill .header h2{
    font-family: 'SubTitulo';
    margin: 2px;
    margin-right: auto ;
    margin-left: auto ;
    font-size: 20px;
}
#skill .header {
    font-family: 'SubTitulo';
    text-align: center;
    color: rgb(226, 239, 240);
}

#skill .box {
    background-color: rgb(52, 106, 112);
    width: 900px;
}
#skill .cod .corp {
    border-top: 1px solid rgb(65, 121, 130);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
} 
#skill .cod .corp .list {
    display: flex;
    flex-flow: wrap;
}
#skill .cod .corp .subT{
    color : rgb(115, 163, 179);
}
#skill .cod .corp .list div {
    width: 200px;
    margin-top: 5px;
    padding: 10px;
  
}
#skill .cod .lgua .graf{
    background-color: rgb(83, 110, 114);
   margin: 0px;
    width: 300px;
    padding: 1px;
}
#skill .cod .lgua .grafni{
    background-color: rgb(139, 139, 139);
    width: 300px;
    height: 15px;    
    margin: 0px;  
}
#skill .cod .lgua .grafni1{
    background-color: rgb(139, 139, 139);
    width: 180px;
    height: 15px;    
    margin: 0px;  
}
#skill .cod .lgua .grafni2{
    background-color: rgb(139, 139, 139);
    width: 27px;
    height: 15px;    
    margin: 0px;  
}

#skill .cod .lgua {
    margin: 0px;
    padding: 0px;
    display: flex;
    text-align: center;
}
#skill .cod .lgua div{
    margin: 10px 10px 10px 30px;
}
#skill .cod .lgua h1{
    font-size: 20px;
}
#skill .cod .lgua .hw {
    width: 90px;
    text-align: start;
}
#skill .cod .lgua .ew {
    width: 320px;
    text-align: start;
    
}
#skill .cod .lgua p{
    padding: 1px;
    font-size: 14px;
    
}